.SaibaMais{
    padding: 5px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    background-color: yellow;
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 100px;
}

.Card-SaibaMais{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.Pricipal{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 30px;
}

.Pict {
    height: auto;
    width: 350px;
}

.pricipal-text{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.Pricipal-intro{
    font-size: 35px;
}